* {
    /*全局选择器*/
    margin: 0;
    /*外边距*/
    padding: 0;
    /*内边距*/
}

li {
    list-style: none;
    /*清除列表样式*/
}

.box {
    margin: auto;
    /*页面居中*/
    width: 1000px;
    height: 1650px;
}

.box a:hover {
    text-decoration: none;
    /*去掉a标签下划线*/
    color: paleturquoise;
}

.box-b {
    height: 35px;
    background: #6e9a3b;
    /*背景颜色*/

}

.box-b-d {
    font-size: 15px;
    /*字体大小*/
    padding-top: 8px;
    /*内边距距离上为8*/
    margin-left: 10px;
}

.box-b-d a {
    color: #fff;
    /*文字颜色*/
}

.box-b-d i {
    color: #fff;
}

.box-b-s {
    color: #fff;
    font-size: 15px;
    float: right;
    /*右浮动*/
    margin-top: -19px;
    margin-right: 10px;
}

.box-k {
    height: 72px;
    background: #fff;
}

.box-k-t img {
    height: 50px;
    margin-left: 200px;
    display: block;
    /*显示图片*/
}

.box-k-b {
    margin-top: -25px;
    margin-left: 350px;
}

.box-k-b li {
    float: left;
    /*左浮动*/
    margin-right: 40px;

}

.box-k-b li a {
    color: #6e9a3b;
    font-size: 13px;
}

img {
    display: none;
    /*隐藏图片*/
}

#box-t {
    position: relative;
    /*设置相对定位*/
}

#box-t img {
    width: 1000px;
    height: 400px;
}

#left {
    font-size: 45px;
    color: #fff;
    position: absolute;
    /*设置绝对定位*/
    top: 45%;
    cursor: pointer;
    /*设置鼠标为小手状态*/
}

#right {
    font-size: 45px;
    color: #fff;
    position: absolute;
    top: 45%;
    right: 0;
    cursor: pointer;
}

.tup {
    display: block;
}

.box-t-y {
    position: absolute;
    /*给按钮添加绝对定位*/
    right: 45%;
    bottom: 0;
    /*下边距为0*/
}

.box-t-y p {
    width: 20px;
    height: 20px;
    display: inline-block;
    /*不独占一行的块级元素*/
    opacity: 0.7;
    /*设置透明度*/
    border: 1px solid #fff;
    /*边框为1像素白色实线*/
    border-radius: 10px;
    /*实现椭圆效果*/
    margin-right: 10px;
    cursor: pointer;
}

.box-y-x {
    background: #6e9a3b;
}

.box-w {
    height: 155px;
    background: #6e9a3b;
}

.box-w img {
    display: block;
}

.box-w-1 {
    margin-left: 220px;
    padding-top: 40px;
}

.box-w-1 img {
    width: 100px;
    height: 40px;
}

.w-x {
    margin-top: 5px;
}

.w-x span {
    font-size: 16px;
    font-family: "幼圆";
    color: #fff;
}

.w-x p {
    color: #fff;
    font-size: 12px;
}

.w-z img {
    margin-top: -90px;
    margin-right: 120px;
    float: right;
}

.w-z a {
    color: #fff;
    margin-top: -70px;
    margin-right: 80px;
    float: right;
}

a {
    cursor: pointer;
}