@{
    ViewData["Title"] = "关于我";
}
<body style="background-color:  #F0F8FF;">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>

        <br /><p>基于 ASP.NET Core MVC 的固定资产管理系统</p>
        <p>网站制作: 刘雪梅 -联系方式：2746928602@qq.com </p>
    </div>
</body>

