@{
    ViewData["Title"] = "首页";
}

<div class="mt-4 p-3 rounded mb-4" style="background-color:lightyellow">
    <h1 style="color:lightblue">欢迎到访资产管理系统!</h1>
    <p class="lead text-secondary ">
        固定资产管理（Fixed Assets Management）是指对企业固定资产的使用计划、购置过程、验收过程、登记工作、领用工作、使用过程、维修过程、报废处置等过程的科学性管理。
        固定资产管理系统将解决不同人员的权限设置，一定程度上解决了系统的安全性；解决资产、部门、员工、资产分类的登记和管理；记录设备的状况及保管人信息，以实现企业内资源的共享。
    </p>

</div>
<div class="row"> 
    <style>
        body {
            background-image: url("/images/index.jpg"); /* 图片路径 */
            background-size: cover; /* 图片大小适应屏幕 */
        }
    </style> 
    <h1 style="color: lightblue; text-align: center; font-weight: bold; font-size: 50px;">公司资产</h1>
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <img src="/images/photo1.png" class="rounded float-start" alt="..." width="400" height="400" style="margin-right: 2cm;">
        <img src="/images/photo2.png" class="rounded float-start" alt="..." width="400" height="400" style="margin-left: 2cm;">
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <img src="/images/photo10.png" class="rounded float-start" alt="..." width="400" height="400"> 
    </div>

</div>



